.body-content {
  background-image: url(https://onhocuahoai.files.wordpress.com/2018/11/img_36351.jpg);
  background-position: left top;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: fixed;
}
